@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  display: flex;
  flex-direction: column;
  background-color: #000;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.layout::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}

.heading-section {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("public/images/background.jpg");
  width: 100vw;
  height: 75vh;
  background-size: cover;
  background-position: bottom;
}

.casecard-img {
  border-radius: 9999px;
  height: 100%;
  width: 100%;
}
